body {  
  background-color: rgb(217, 217, 217);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

nav {
  height: 50px; 
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.form-wrapper {
  margin-top: 30px;
  width: 100vw;
  display: flex; 
  justify-content: space-evenly;
  text-align: start;
  flex-wrap: wrap;
  align-items: center;
}

ul {
  text-align: start;
}

li {
  padding: 7px;
}


select {
  font-size: 14px;
  border: none;
  min-width: 100%;
  padding: 5px;
  background: white;
  margin-bottom: 7px;
}

p {
  font-size: 18px;
  font-weight: bold;
}

button {
  padding: 8px; 
  background-color: royalblue;
  color: #fff;
  font-size: 18px;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

button:hover {
  opacity: 0.8;
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 30px;
}

img {
  max-width: 1200px;
  margin: 10px;
}

h3 {
  text-align: center;
}